# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Dirs
build/
debug/
assets/samples/
.vscode/
CMakeFiles/

# Models
*.onnx
!**/yolov8*.onnx

# Images
*.jpg
*.png

#
!.gitignore